In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\juanj\Workspace\business_Intelligence\ClientMovementsSN.csv", encoding ="latin1", sep = ";")
df.head()

,ï..DATE,ClientID,MOVEMENT,BALANCE_IN,TRANSFEROR,BALANCE_OUT,RECEPIENT,AGENT.ID,STATUS,CHANNEL,aux,IN,OUT
0,31/12/2018,1,in,25777382,Competitor 14,0,Competitor 9,24597,Active,CHANNEL 4,1,1,0
1,28/02/2018,2,out,0,Competitor 9,0,Competitor 10,13087,Inactive,CHANNEL 5,1,0,1
2,31/01/2017,3,out,0,Competitor 9,17552962,Competitor 10,18024,Inactive,CHANNEL 5,1,0,1
3,31/08/2019,4,in,1965188,Competitor 2,0,Competitor 9,14667,Active,CHANNEL 1,1,1,0
4,31/03/2017,5,out,0,Competitor 9,29433839,Competitor 10,30677,Inactive,CHANNEL 5,1,0,1

In [7]:
#copiamos para generar respaldo limpio
df_copy = df.copy()
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749202 entries, 0 to 749201
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ï..DATE      749202 non-null  object
 1   ClientID     749202 non-null  int64
 2   MOVEMENT     749202 non-null  object
 3   BALANCE_IN   749202 non-null  int64
 4   TRANSFEROR   749202 non-null  object
 5   BALANCE_OUT  749202 non-null  int64
 6   RECEPIENT    749202 non-null  object
 7   AGENT.ID     749202 non-null  int64
 8   STATUS       749202 non-null  object
 9   CHANNEL      749202 non-null  object
 10  aux          749202 non-null  int64
 11  IN           749202 non-null  int64
 12  OUT          749202 non-null  int64
dtypes: int64(7), object(6)
memory usage: 74.3+ MB